pip install --upgrade pip
streamlit==1.10.0
numpy
pandas
matplotlib
pyplot
sklearn
preprocessing
joblib
model_selection
linear_model
metrics
neighbors
tree
ensemble
xgboost
tensorflow
keras
layers
models
callbacks
pyngrok
plotly
ply
ptyprocess
seaborn
streamlit
scikit-learn
sklearn
linear_model
streamlit

