streamlit==1.10.0
numpy==1.22.2
pandas
matplotlib
pyplot
sklearn
preprocessing
joblib
model_selection
linear_model
metrics
neighbors
tree
ensemble
xgboost
tensorflow
keras
layers
models
callbacks
pyngrok

